@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

@import "tailwindcss";

@theme {
    --font-Racing-Sans-One: "Racing Sans One", 'sans-serif';
    --font-Monoton: "Monoton", 'sans-serif';
    --font-Play: "Play", 'sans-serif'
}

;